<!--<div id="sidebar">-->
  <div class="sidebar_section panel" id="filters_sidebar_section">
    <h3>Filters</h3>
    <div class="panel_contents"><form accept-charset="UTF-8" action="/admin/schools" class="filter_form" id="new_q" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div><div class="filter_form_field filter_string select_and_search"><label class="label" for="q_year">Year</label><select id="" name=""><option selected="selected" value="year_contains">Contains</option>
      <option value="year_equals">Equals</option>
      <option value="year_starts_with">Starts with</option>
      <option value="year_ends_with">Ends with</option></select><input id="q_year" maxlength="255" name="q[year_contains]" type="text"></div><div class="filter_form_field filter_date_range"><label class="label">Data Entry Date</label>
      <input class="datepicker" id="q_created_at_gteq" max="10" name="q[created_at_gteq]" size="12" type="text" value="">
      <span class="seperator">-</span>
      <input class="datepicker" id="q_created_at_lteq" max="10" name="q[created_at_lteq]" size="12" type="text" value=""></div><div class="filter_form_field filter_select"><label class="label" for="q_division_id">Division</label><select id="q_division_id" name="q[division_id_eq]"><option value="">Any</option>
      <option value="15">Barisal</option>
      <option value="16">Chittagong</option>
      <option value="17">Dhaka</option>
      <option value="18">Khulna</option>
      <option value="19">Rajshahi</option>
      <option value="20">Rangpur</option>
      <option value="21">Sylhet</option></select></div><div class="filter_form_field filter_select"><label class="label" for="q_district_id">District</label><select id="q_district_id" name="q[district_id_eq]"><option value="">Any</option>
      <option value="66">Barguna</option>
      <option value="67">Barisal</option>
      <option value="68">Bhola</option>
      <option value="69">Jhalokati</option>
      <option value="70">Patuakhali</option>
      <option value="71">Pirojpur</option>
      <option value="72">Bandarban</option>
      <option value="73">Brahmanbaria</option>
      <option value="74">Chandpur</option>
      <option value="75">Chittagong</option>
      <option value="76">Comilla</option>
      <option value="77">Cox's Bazar</option>
      <option value="78">Feni</option>
      <option value="79">Khagrachari</option>
      <option value="80">Lakshmipur</option>
      <option value="81">Noakhali</option>
      <option value="82">Rangamati</option>
      <option value="83">Dhaka</option>
      <option value="84">Faridpur</option>
      <option value="85">Gazipur</option>
      <option value="86">Gopalganj</option>
      <option value="87">Jamalpur</option>
      <option value="88">Kishoreganj</option>
      <option value="89">Madaripur</option>
      <option value="90">Manikganj</option>
      <option value="91">Munshiganj</option>
      <option value="92">Mymensingh</option>
      <option value="93">Narayanganj</option>
      <option value="94">Narsingdi</option>
      <option value="95">Netrokona</option>
      <option value="96">Rajbari</option>
      <option value="97">Shariatpur</option>
      <option value="98">Sherpur</option>
      <option value="99">Tangail</option>
      <option value="100">Bagerhat</option>
      <option value="101">Chuadanga</option>
      <option value="102">Jessore</option>
      <option value="103">Jhenaidah</option>
      <option value="104">Khulna</option>
      <option value="105">Kushtia</option>
      <option value="106">Magura</option>
      <option value="107">Meherpur</option>
      <option value="108">Narail</option>
      <option value="109">Satkhira</option>
      <option value="110">Bogra</option>
      <option value="111">Joypurhat</option>
      <option value="112">Naogaon</option>
      <option value="113">Natore</option>
      <option value="114">Nawabganj</option>
      <option value="115">Pabna</option>
      <option value="116">Rajshahi</option>
      <option value="117">Sirajganj</option>
      <option value="118">Dinajpur</option>
      <option value="119">Gaibandha</option>
      <option value="120">Kurigram</option>
      <option value="121">Lalmonirhat</option>
      <option value="122">Nilphamari</option>
      <option value="123">Panchagarh</option>
      <option value="124">Rangpur</option>
      <option value="125">Thakurgaon</option>
      <option value="126">Habiganj</option>
      <option value="127">Moulvibazar</option>
      <option value="128">Sunamganj</option>
      <option value="129">Sylhet</option></select></div><div class="filter_form_field filter_string select_and_search"><label class="label" for="q_title">Title</label><select id="" name=""><option selected="selected" value="title_contains">Contains</option>
      <option value="title_equals">Equals</option>
      <option value="title_starts_with">Starts with</option>
      <option value="title_ends_with">Ends with</option></select><input id="q_title" maxlength="255" name="q[title_contains]" type="text"></div><div class="buttons"><input name="commit" type="submit" value="Filter"><a class="clear_filters_btn" href="#">Clear Filters</a><input id="hidden_active_admin_order" name="order" type="hidden" value="id_desc"></div></form></div>
  </div>
<!--</div>-->