<div class="panel_contents">
  <div class="attributes_table">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <%= render :partial => "single_visits", :locals => {step: 1, visit: @school.first_visit} %>
      <%= render :partial => "single_visits", :locals => {step: 2, visit: @school.second_visit} %>
      <%= render :partial => "single_visits", :locals => {step: 3, visit: @school.third_visit} %>
      <%= render :partial => "single_visits", :locals => {step: 4, visit: @school.fourth_visit} %>
      </tbody>
    </table>
  </div>
</div>




